.map{
  position: relative;
  padding: 70px 50px 48px;
  box-sizing: border-box;
  z-index: 1;
}

@media screen and (max-width: 960px) {
  .map{
    padding: 50px 50px 48px;
  }
}

@media screen and (max-width: 826.99px) {
  .map{
    padding: 30px 25px 20px;
  }
}
