.title{
font-size: 42px;
font-weight: 700;
line-height: 49px;
color: rgba(128, 220, 104, 1);
margin-left: 140px;
max-width: 1200px;
margin: auto;
}

@media screen and (max-width: 1229.99px) {
  .title{
    text-align: center;
  }
}
@media screen and (max-width: 826.99px) {
  .title{
    font-size: 24px;
    line-height: 35px;
  }
} 

@media screen and (max-width: 494.99px) {
  .title{
    font-size: 16px;
    line-height: 20px;
  }
} 