.form__submit{
display: block;
border: none;
width: 250px;
height: 60.04px;
padding: 0 10px;
background: linear-gradient(180deg, #80DC68 0%, #48A230 100%);
box-shadow: 0px 3px 0px rgba(77, 181, 55, 0.3), 0px 16px 17px -8px rgba(94, 184, 70, 0.37);
border-radius: 2px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #fff;
transition: transform 0.5s;
}

.form__submit:hover{
  transform:scale(110%);
  /*padding: none;*/
}

@media screen and (max-width: 1199.99px) {
  .form__submit{
    width: 200px;
    padding: 0;
  }
}