.form__input{
  color: #fff;
  background: none;
  padding: 10px 5px;
  border-bottom: 3px solid #fff;
  width: 250px;
}

input::placeholder{
  color: #fff;
}

@media screen and (max-width: 1199.99px) {
  .form__input{
    width: 200px;
    margin: 0 10px 30px;
  }
  input::placeholder{
    color: #fff;
    font-size: 12px;
  }
}
