.info{
  background-color: rgb(13, 37, 47, 0.1);
  padding: 150px 30px 40px;
  box-sizing: border-box;
}

@media screen and (max-width: 826px) {
  .info{
    padding: 100px 15px 20px;
  }
}

@media screen and (max-width: 505px) {
  .info{
    padding: 100px 15px 20px;
  }
}
