.footer__item{
font-size: 16px;
font-weight: 400;
line-height: 19px;
margin-bottom: 5px;
}

.footer__item a{
  text-decoration: none;
  color:rgba(203, 203, 203, 1);

}

.footer__item a:hover{
  text-decoration: underline;
  opacity: 0.6;
}

@media screen and (max-width: 560px) {
  .footer__item{
    font-size: 12px;
  }
}