.service__head-text{
position: relative;
max-width: 1200px;
margin: auto;
padding: 0 30px;
box-sizing: border-box;
font-size: 22px;
font-weight: 300;
line-height: 26px;
padding: 38px 0;
color: rgba(68, 112, 57, 1);
margin-bottom: 83px;
z-index: 1;
}

@media screen and (max-width: 1229.99px) {
  .service__head-text{
    text-align: center;
  }
}

@media screen and (max-width: 744.99px) {
  .service__head-text{
    padding: 38px 10px;
  }
}

@media screen and (max-width: 399.99px) {
  .service__head-text{
    margin-bottom: 43px;
  }
}