.who__head{
font-size: 18px;
font-weight: 300;
line-height: 21px;
color: rgba(68, 112, 57, 1);
margin: 18px 0 53px;
}

@media screen and (max-width: 1229.99px) {
  .who__head{
    text-align: center;
  }
}